extends layout

block content
  h1 Welcome to Members Only!
  if user 
    h2 Welcome back #{user.username}
    p We are so happy to have you here!
  else 
    br
    h2 You should probably sign-up first!
    h2 Then you may be able to join the SECRET club...
