extends layout

block content
  div.sign-up
    div.header-card
      h1= title
    form(action="/log-in" method="POST", class="card-form")
        div.input 
          input(type="text" name='username', class="input-field" required) 
          label(for="username", class="input-label") Username
        div.input
          input(type="password" name='password', class="input-field" required) 
          label(for="password", class="input-label") Password 
        div.action
          button(type="submit", class="action-button") Log In
  div.errors
    if errors
      p #{errors}
