extends layout

block content
  h1= title
  p Welcome to #{title}
    form(action="/log-in" method="POST") 
        label(for="username") Username
        input(type="text", placeholder='Username', name='username') 
        br
        label(for="password") Password 
        input(type="password", placeholder='Password', name='password') 
        br
        button Log In
  if errors
    p #{errors}
  a(href="/") Back to home 
