extends layout

block content
  h1 #{title}: "#{message.text}" by #{message.user.username}

    p Do you really want to delete this Message?

    form(method='POST' action='')
      button.btn.btn-primary(type='submit') Delete