extends layout

block content
  h1= title
  p Welcome to #{title}
    form(action="" method="POST") 
        label(for="username") Username
        input(type="text", placeholder='Username', name='username') 
        br
        label(for="password") Password 
        input(type="password", placeholder='Password', name='password') 
        br
        label(for="confirm_password") Confirm Password 
        input(type="password",  placeholder='Confirm Password', name="confirm_password") 
        button(type='submit') Sign Up
  if errors
    ul
      for error in errors
        li!= error.msg