extends layout

block content
  div.sign-up
    div.header-card
      h1= title
    form(action="" method="POST", class="card-form") 
          div.input
            input(type="text" name='username', class="input-field" required) 
            label(for="username",  class="input-label") Username
          div.input
            input(type="password", name='password', class="input-field" required) 
            label(for="password",  class="input-label") Password 
          div.input
            input(type="password" name="confirm_password", class="input-field" required) 
            label(for="confirm_password",  class="input-label") Confirm Password 
          div.action
            button(type='submit', class="action-button") Sign Up
  div.errors
    if errors
      ul
        for error in errors
          li!= error.msg
